.idea
venv
icdret
*.rar
*.zip
*.tar
*.hdf5
*.h5
*.pickle
*.cpickle
*.pt
*.model
*.checkpoint
*.npz
*.gz
*.tar.gz
*.msi
*.exe

job_exams
keras_dir/gans/gan_jbl/celeba-dataset
side_projects/ml/moodring
research/ruet_paper/Final Project Work Folder