torch==1.7.1+cpu
matplotlib==3.3.4
h5py==3.1.0
tqdm==4.26.0
Werkzeug==1.0.1
opencv_python==4.5.1.48
numpy==1.20.1
scipy==1.6.0
Flask==1.1.2
pandas==1.1.5
seaborn==0.11.1
torchvision==0.8.2+cpu
requests==2.25.1
imutils==0.5.4
tensorflow==2.0.0
Flask_Cors==3.0.10
gensim==3.8.3
keras==2.4.3
Mako==1.1.4
mosspy==1.0.8
Pillow==8.2.0
progressbar33==2.4
PyGithub==1.54.1
scikit_learn==0.24.1
